<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sac.component.css">
    <title>Atendimento (SAC)</title>
</head>
<body>
    <div>
        <h1>Por Favor!</h1>
        <h2>Envie-nos um E-mail com o assunto a ser conversado</h2>
        <h2>E-mail: timeomegatcc@gmail.com</h2>
        <br><br>
        <a href="#"><button>Voltar</button></a>
    </div>
</body>
</html>

