.container{
  margin-left: -5px;
}

.words{
  margin-top: -30px;
  margin-right: 80%;
  display: flex;
  justify-content: space-around;
  border: 8px solid #000;
  border-radius: 20px;
  padding: 7px;
}

.btnadd{
  margin-top: 5px;
  margin-left: 91%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.con {
 max-width: 1200px;
 margin: 0 auto;
}
