
    <footer>
        <div class="container-footer">
            <div class="row-footer">

                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="#"> Quem somos </a></li>
                        <li><a href=""> nossos serviços </a></li>
                        <li><a href=""> política de privacidade </a></li>
                        <li><a href=""> programa de afiliados</a></li>
                    </ul>
                </div>
                <div class="copyright">
                  <h2>Copyright ©2022 Loja Combo. Todos os direitos reservados </h2>

               </div>
                <div class="footer-col-1">
                    <h4>Obter ajuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Transporte</a></li>
                        <li><a href="#">devoluções</a></li>
                        <li><a href="#">Status </a></li>
                    </ul>
                </div>

         </div>
        </div>
  </footer>
